<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">This is me</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Bio</h4>
                                    
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">My name is Utsargo Roy. Born in Khulna city. Love to eat, read and swim. And to code ofcourse.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Enthusiasm</h4>
                                    
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I have a deep interst in computing and programming. I love to code and learn new things of modern computing. Surely, I can't do a lot of things, but I have no denial to learn more and more.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <i class="fa fa-code fa-stack-1x fa-inverse"></i>                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Expertise</h4>
                                    
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I am skilled in web design jobs. Can work in a versetile area of web desing and always try to upgrade my expertise. I typically work with HTML, CSS and Javascript. Have some experience in various Javascript libraries, for example, Node.js, React.js, Ajax, Jquery, Redux, Gulp etc. Efficient in SCSS, SASS and LESS. I am very good at testing and debugging application within my expertise area.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>That's
                                    <br>All
                                    <br>For Now</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>